*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    height: 450px;

    background-color: black;

    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows:repeat(6,1fr) ;

    border: 5px solid black;
    border-radius: 12px;
    overflow: hidden;
    gap: 5px;
}

input{
    grid-area: 1 / 1 / 2 / -1;
    outline: none;
    text-align: end;

    font-size: 40px;
    font-weight: 800;
    padding-right: 5px;
    background-color: black;
    color: white;
    padding-bottom: 10px;

}

button{
    font-size: 30px;
    font-weight: 600;

    border-radius: 12px;
    background-color: rgba(251, 248, 248, 0.611);
}

button:hover{
    border: 3px solid greenyellow;
}

button:active{
    border: 3px solid white;
}